* {
    margin: 0%;
    padding: 0%;
}    

/*.menu */

.menu {
    font-size:40px;
    list-style-type: none;
    display: flex;
    background-color: #f5C11B;   
    justify-content: space-evenly;     
    }

.menu__item {
    display: inline;
}

.menu__link {
    display: block;
    color: black;  
    padding: 30px 50px;
    text-decoration: none;
    
}

.menu__link:hover {
    color: white;    
    background-color: #444;
    border-bottom: 5px solid #444;
}


.main-banner{        
    display: flex;   
    padding: 200px;
    height: 20px;
    justify-content: space-between;   
    
    
}

.main-banner h1{
    text-align: left; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4D17D1;  
    font-size: 50px;    
    padding: 80px;
}

.main-banner img{    
    width: 300px;
    }
   
    


