* {
    margin: 0%;
    padding: 0%;
}    

/*.menu */

.menu {
    font-size:40px;
    list-style-type: none;
    display: flex;
    background-color: #f5C11B;   
    justify-content: space-evenly;     
    }

.menu__item {
    display: inline;
}

.menu__link {
    display: block;
    color: black;  
    padding: 30px 50px;
    text-decoration: none;
    
}

.menu__link:hover {
    color: white;    
    background-color: #444;
    border-bottom: 5px solid #444;
}

.container{
    
    max-width: 992px;
    min-width: 320px;
    margin: 0 auto;
}


.main-banner{        
    display: flex;   
    padding: 200px;
    height: 20px;
    justify-content: space-between;  
    background-image: url("../Img/fotofundo.jpg"); 
    background-position: center;
    background-size: cover;
    
}

.main-banner h1{
    text-align: left; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4D17D1;  
    font-size: 50px;    
    padding: 80px;
}

.main-banner img{    
    width: 300px;
    }

main{
    
}
.container-descricao{
padding: 5em 0;
display: flex;
flex-direction: column;
}

.foto{
    display: flex;
    align-items: center;
}

 .foto img{
  padding: 30px 80px 30px 0;
  display: flex;
  width: 20%;

}

.foto h2{
    text-align: center;
    font-size: 50px;
    color: #4D17D1;
    display: flex;
    padding-right: 80px;

}


.links{
    display: flex;
    background-color: #f5C11B;
    padding: 50px;
    justify-content: space-evenly;
}

.links li{
    font-size:40px;
    list-style: none; 
    display: inline;
    text-align: center;   
    padding: 150px;
    
}
.links ul li{
    width: 90%;
    margin: 0 auto;
}
    


