* {
    margin: 0%;
    padding: 0%;
}

.title__flor{
    align-items: center;
    font-size: 40px; 
       
}
    

body{    
   background-image: url('../Img/flor-de-trigo-logo.jpg');   
   width: 100%;
   background-size: cover;
   
}

/*.menu */

.menu {
    font-size:20px;
    list-style-type: none;
    display: flex;
    background-color: #bebebe
    justify-content: space-evenly;
}

.menu__item {
    display: inline;
}

.menu__link {
    display: block;
    color: black;  
    padding: 30px 50px;
    text-decoration: none;
}

.menu__link:hover {
    color: white;    
    background-color: #444;
    border-bottom: 5px solid #444;
}

.menu__link--active {
    border-bottom: 5px solid black;
}

main{
background-color: rgba(255, 255, 255, 0.5);
margin-top: 80px;
width: 100%;

}

.title-flor{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    
    
}
