* {
    margin: 0%;
    padding: 0%;
}    

/*.menu */

.menu {
    font-size:40px;
    list-style-type: none;
    display: flex;
    background-color: #f5C11B;   
    justify-content: space-evenly;  
    width: 100vw; 
    
}

.menu__itens {
    display: flex;
    justify-content: center;
    
}
.menu__item{
    list-style-type: none;
}


.menu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#4D17D1;  
    padding: 0px 24px;
    height: 64px;
    text-decoration: none;
    transition: background-color 1s ease,
        color 0.5s ease;    
}

.menu__link:hover {
    color: white;    
    background-color: #444;
    border-bottom: 5px solid #444;
}

.menu__logo,
.menu input {
    display: none;
}

img{    
    width: 200px;
    margin-bottom: -50px;
    margin-top: -40px;
}

.container{
    
    max-width: 992px;
    min-width: 320px;
    margin: 0 auto;
   
}


.main-banner{        
    display: flex;   
    padding: 200px;
    height: 20px;
    justify-content: space-between;  
    background-image: url("../Img/fotofundo.jpg"); 
    background-position: center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.main-banner h1{    
    
    color:#fff; 
    font-style: bold; 
    font-size: 50px; 
    margin-top: -100px;   
    padding-left: 100px;
        
}

.main-bannerH1{
    display: flex;
    flex-direction: column;
}

.main-banner img{    
    width: 300px;
    margin-top: -250px;
    margin-right: -100px;
    
}


.container-descricao{
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    
}

.foto{
    display: flex;
    align-items: center;
    padding: 50px;
}

 .foto img{
    padding: 30px 80px 30px 0;
    display: flex;
    width: 20%;

}

.foto h2{
    text-align: center;
    font-size: 50px;
    color: #fff;
    display: flex;
    padding-right: 80px;
    flex-direction: column;

}

footer{
    display: flex;
    
}


.links{
    display: flex;
    flex-direction: column;
    background-color: #f5C11B;
    padding: 50px;
    justify-content: space-evenly;
    width: 100vw;
    
}

.links ul{
    display: flex;
    
}

.links li{
    font-size:20px;
    list-style: none; 
    text-align: center;   
    padding: 150px;
    
    
}
.links ul li{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.links-icons{
    flex-direction:column;    
}

.fa-brands{
    font-size: 50px;
}    


    
.main__itens{
    background-color: black;
}    

      
.main__about{
    padding: 100px;    
    color:#fff;
    background-color: black;
    font-size: 30px;        
    }  
    
.foto1{
    display: flex;
    background-position: center;
    background-size: cover;
    width: 1440;
    padding:0%    
    }

.foto1-1{
        width: 100%;
}



.table{
    font-size: 30px;
    justify-content:center; 
    display: flex;
    color: #fff;
    background-color: black;
    width: 100%;
    padding: 50px 50px 50px 30px;
    justify-content: space-between;
    
}

.table img{

    width: 300px;
    height: 300px;
    padding: 300px 50px 50px 30px;
    display: flex;   

}

.main__product{
    display: flex;
    align-items: center;  
    background-color: black;
}


    
    .menu__logo {
    
    color: #fff;
    font-size: 2rem;
    }
    
    .menu input:checked~.menu__itens{
        display: block;
    }

    @media screen and (max-width:768px) {

        
        

        .menu__itens{
            display: none;
            flex-direction: column;
        }
    
        .menu__link {
            border-top: 1px solid rgb(200, 200, 250);
            width: 100%;
            padding: 0;
            min-width: 200px;
        }
    
        .menu__logo {
            display: block;
            color:#fff;
            font-size: 2rem;
            
        }
    
        .menu input:checked~.menu__itens{
            display: block;

         }

         .links ul{
        flex-direction: column;                        
         }

         .main__product{
            display: block;
            flex-direction: column; 
        }
         }


    
